:root {
  --droppex-color-stylewhite70: rgba(250, 250, 250, 0.7);
  --droppex-color-stylegray: rgba(147, 147, 147, 1);
  --droppex-color-stylewhite: rgba(250, 250, 250, 1);
  --primary-blue: rgba(87, 172, 220, 1);
  --droppex-color-styleprimary-blue: rgba(87, 172, 220, 1);
  --gray: rgba(147, 147, 147, 1);
  --droppex-color-stylegray-light: rgba(139, 139, 139, 0.06);
  --droppex-color-stylelight-background: rgba(30, 30, 30, 1);
  --droppex-color-stylewhite10: rgba(250, 250, 250, 0.1);
  --droppex-color-styledarkbg-light: rgba(23, 23, 23, 1);
  --droppex-color-stylewhite30: rgba(250, 250, 250, 0.3);
  --droppex-color-styledark-background: rgba(18, 18, 18, 1);
  --droppex-color-styleblue-light: rgba(87, 172, 220, 0.11);
  --heading-14-font-family: "Poppins", Helvetica;
  --heading-14-font-weight: 400;
  --heading-14-font-size: 14px;
  --heading-14-letter-spacing: 0px;
  --heading-14-line-height: normal;
  --heading-14-font-style: normal;
  --heading-12-font-family: "Poppins", Helvetica;
  --heading-12-font-weight: 400;
  --heading-12-font-size: 12px;
  --heading-12-letter-spacing: 0px;
  --heading-12-line-height: normal;
  --heading-12-font-style: normal;
  --heading-16-font-family: "Poppins", Helvetica;
  --heading-16-font-weight: 400;
  --heading-16-font-size: 16px;
  --heading-16-letter-spacing: 0px;
  --heading-16-line-height: normal;
  --heading-16-font-style: normal;
  --heading-18-font-family: "Poppins", Helvetica;
  --heading-18-font-weight: 400;
  --heading-18-font-size: 18px;
  --heading-18-letter-spacing: 0px;
  --heading-18-line-height: normal;
  --heading-18-font-style: normal;
  --heading14-lined-font-family: "Poppins", Helvetica;
  --heading14-lined-font-weight: 400;
  --heading14-lined-font-size: 14px;
  --heading14-lined-letter-spacing: 0px;
  --heading14-lined-line-height: normal;
  --heading14-lined-font-style: normal;
}
